:root {
  --secondary-color: #66a;
  --bg-color: #f5f7fe;
  --bg-shadow: #e5e7ef;
  --heading-color: #000;
  --highlight-color: #f0db4f;
  --hr-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="rgb(68,68,68)"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"/><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"/></svg>');
  --font-color: #224;
  --uses-secondary-color: #bbb;
  --card-color: #fefeff;
}

[data-theme="dark"] {
  --secondary-color: #99f;
  --bg-color: #2a2f3f;
  --bg-shadow: #000;
  --heading-color: #fff;
  --highlight-color: #f00080;
  --hr-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="rgb(204,204,204)"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"/><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"/></svg>');
  --font-color: #eef;
  --card-color: #1a1f2f;
}

::-moz-selection {
  background: var(--highlight-color);
  color: var(--font-color);
}
::selection {
  background: var(--highlight-color);
  color: var(--font-color);
}

html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

* {
  transition: all 0.175s ease-in;
}

.content {
  width: 80vw;
  margin: auto;
}

.top-menu {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transform: translate(1rem, 15%);
}

.logo::after {
  content: "";
  background-color: var(--highlight-color);
  position: absolute;
  left: -1rem;
  top: -30%;
  z-index: -1;
  width: 2rem;
  height: 130%;
  transition: all 0.175s ease-in;
}

.logo:hover::after {
  content: "";
  background-color: var(--highlight-color);
  position: absolute;
  left: -1rem;
  top: -30%;
  z-index: -1;
  width: calc(100% + 2rem);
  height: 130%;
}

.logo a {
  font-size: 1.2rem;
  text-decoration: none;
  margin: -5px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.theme-switch-button {
  border: none;
  background: none;
  cursor: pointer;
  cursor: hand;
  color: var(--font-color);
  outline: 0;
}

.theme-switch-button svg {
  fill: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

.blog-title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -0.3rem;
  text-align: center;
  margin: 100px 0 50px;
}

.writing-list {
  width: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.writing-row span {
  display: inline-flex;
  align-items: center;
}

.writing-row {
  color: var(--font-color);
  position: relative;
  width: 18rem;
  height: 12rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--card-color);
  border-radius: 5px;
  border-width: 2px;
  border-color: var(--font-color);
  border-style: solid;
  display: flex;
  flex-direction: column;
  transition: all 0.175s ease-in;
}

.writing-row::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0.5rem;
  left: 0.5rem;
  height: 100%;
  width: 100%;
  background-color: var(--bg-shadow);
  border-radius: 5px;
  border-width: 2px;
  transition: all 0.175s ease-in;
}

.writing-row:hover {
  background-color: var(--bg-color);
}

.writing-row:hover::after {
  top: 0;
  left: 0;
}

a {
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--font-color);
}

.date-row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.writing-row .writing-date {
  font-size: 0.8rem;
  color: var(--secondary-color);
  margin-right: 1rem;
}

.writing-row .writing-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
}

.writing-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

.writing-description {
  margin-bottom: auto;
}

.writing-container {
  margin: 5rem 0;
}

.writing-container h1,
.writing-container h2,
.writing-container h3,
.writing-container h4,
.writing-container h5,
.writing-container h6 {
  letter-spacing: -1px;
}

.writing-container img {
  width: 100%;
}

.writing-container ul {
  margin: 0;
  padding: 0 0 30px 20px;
  list-style: circle;
}

.writing-container ul li {
  padding: 4px 0;
  line-height: 1.8em;
  font-size: 20px;
  color: var(--font-color);
}

.writing-container blockquote {
  border-left: 5px var(--highlight-color) solid;
  font-style: italic;
  margin: 0;
  padding: 0px 30px;
}

.writing-container p {
  line-height: 1.8em;
  margin-bottom: 40px;
  font-size: 20px;
  color: var(--font-color);
}

.writing-container *:not(pre) > code {
  font-family: "IBM Plex Mono", Monaco, "Lucida Console", monospace;
  background: var(--highlight-color);
  color: var(--heading-color);
  padding: 2px 7px 5px;
  border-radius: 4px;
  line-height: 1em;
  font-size: 16px;
  display: inline-flex;
}

hr {
  height: 0.25rem;
  border: none;
  margin-bottom: 3rem;
  background-image: var(--hr-bg);
  background-size: 0.3rem 0.3rem;
}

.writing-container a {
  color: var(--heading-color);
  text-decoration: none;
  position: relative;
}

.writing-container a::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: var(--highlight-color);
  transition: height 0.175s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.writing-container a:hover::after {
  height: 100%;
}

.copy-to-clipboard {
  text-align: right;
  padding-right: 15px;
  margin: -10px 0 25px;
}

.copy-to-clipboard button {
  background: none;
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
  cursor: hand;
  outline: 0;
  padding: 0;
}

.copy-to-clipboard button:hover {
  color: var(--heading-color);
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;
  font-size: 0.7rem;
  color: var(--secondary-color);
}

.footer-item {
  padding: 0.5rem;
}

.author {
  color: var(--font-color);
  margin-bottom: 1.5rem;
}

.author::before {
  color: var(--secondary-color);
  content: "written by ";
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.2rem;
  color: var(--secondary-color);
  border-radius: 0.12rem;
}

.tag::before {
  content: "#";
}

.tag:hover {
  color: var(--highlight-color);
}

.tag + .tag {
  margin-left: 0.25rem;
}

.writing-row .tags {
  margin-top: auto;
  color: var(--font-color);
}

/* Override scroll progress */
.writing-progress > div {
  background: var(--highlight-color) !important;
  margin: 0 -8px !important;
}

.pulse {
  background: var(--highlight-color);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;

  box-shadow: 0 0 0 0 var(--highlight-color);
  transform: scale(1.2);
  animation: pulse 2s infinite;
  margin: -7px 15px 0 0;
  vertical-align: middle;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--highlight-color);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.icon {
  font-size: 1.5rem;
}

@media only screen and (max-width: 960px) {
  .content {
    width: inherit;
    padding: 1rem;
  }

  .top-menu {
    padding: 2rem 1rem;
  }

  .writing-row {
    width: 80vw;
  }

  .writing-row .writing-date {
    text-align: left;
    padding: 10px 0;
  }

  .text-transition {
    display: block !important;
  }
  footer {
    flex-direction: column;
  }
}
